<IfModule mod_rewrite.c>
    RewriteEngine On

    # Vérifie si la requête pointe vers un fichier ou un dossier existant
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige toutes les requêtes vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>
